
    @font-face {
        font-family: "Pixel";
        src: url("../css/Pixel-y14Y.ttf") format("woff2");
    }

body {
  background-color: #EAEBE5;
  background-image: url('../media/background.jpg');
  background-size: cover;
  background-position: center;
  height:100vh;
  font-family: 'Pixel', sans-serif;
  margin: 0;
  padding: 40px;
  text-align: center;
}

.welcome {
  color: #A49394;
  font-size: 24px;
  margin-bottom: 0;
}
.p {
color: #A49394;

}
.p2 {
color: #A49394;
font-size: 10px;
}

    @font-face {
        font-family: "PixelWestern";
        src: url("../css/PixelCowboy-l7we.ttf") format("woff2");
    }
.homepage-title {
  font-family: 'PixelWestern', serif;
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 130px); 
  gap: 20px;
  justify-content: center; 
  margin: 0 auto;
}

.grid-item {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #A49394;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 13px;
  padding: 4px 0;
  box-sizing: border-box;
}

.grid-item:hover {
  background-color: #A49394;
  color: white;
  transform: scale(1.02);
}

.grid-item:hover .grid-text {
  background-color: rgba(164, 147, 148, 0.9); 
  color: white;
}
