/* FONTS */
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #bebfa9;
  font-family: 'Bebas Neue', sans-serif;
  color: #7b7660;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.center-container {
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-bottom: 3vh;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.time-block {
  text-align: center;
}

.number {
  font-size: 4rem; /* bigger for visual balance */
  display: block;
}

.label {
  font-size: 1.5rem;
}

/* Side Tabs */
.tab {
  position: fixed;
  top: 50%;
  padding: 0.75em 1.5em;
  background-color: #bebfa9;
  border: 2px solid #7b7660;
  border-radius: 0.5em;
  text-align: center;
  transition: all 0.3s ease;
}

.tab a {
  color: #7b7660;
  text-decoration: none;
  font-size: 1.5rem;
}

.tab:hover {
  opacity: 0.7;
  transform: scale(1.05);
  cursor: pointer;
}

.tab.left {
  left: 1em;
}

.tab.right {
  right: 1em;
}
