body {
  background-color: black;
  overflow: hidden;
  background-image: url(../media/space.jpg);
background-size: cover; /* Ensures the image covers the entire area, cropping if necessary to maintain aspect ratio */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image horizontally and vertically */
  background-attachment: fixed; /* Keeps the background image fixed in place while the content scrolls */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  margin: 0; /* Removes default body margin */
  padding: 0; /* Removes default body padding */
}


img {
  position: absolute;
  animation: floaty 10s infinite ease-in-out alternate;
}

/* define movement */
@keyframes floaty {
  0%   { top: 10%; left: 10%;}
  50%  { top: 60%; left: 60%;}
  75%  { top: 70%; left: 20%;}
  100% { top: 30%; left: 10%;}
}