/* yup */
body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}


/* Text line Container  */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  width: 90vw;
}

.text-container.right-align {
  align-items: flex-end;
}

/* text lines */
.line {
  font-size: 5vw;
  line-height: 1.1;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(40, end) forwards;
  animation-delay: var(--delay);
}

/* Type animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* buttons */
.button-container.two-buttons {
  display: flex;
  gap: 2rem; /* space between buttons */
  justify-content: center;
}

.next-button {
  text-decoration: none;
  font-size: 2vw;
  padding: 0.5em 1.5em;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  transition: all 0.3s ease;
}
.next-button:hover {
  opacity: 0.7;
  transform: scale(1.05);
}