/*FONTS*/
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

/* yup */
body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #222123;
  color: #7c9478;
}


/* Text line Container  */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: right;
  height: 85vh;
  width: 90vw;
}

.text-container.right-align {
  align-items: flex-end;
}

/* text lines */
.line {
  font-size: 5rem;
  line-height: 1.1;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(40, end) forwards;
  animation-delay: var(--delay);
}

/* Type animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* buttons */
.button-container.two-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  
}

.next-button {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  transition: all 0.3s ease;
  color: #9ab495;
}
.next-button:hover {
  opacity: 0.7;
}