body {
  margin: 0;
  background-color: #fffbee;
  background-image: url(../media/background.jpg);
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.menu-box {
  width: 550px;
  height: 930px;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 35px 40px 90px;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
}


.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 300px;
  height: auto;
}

.subtitle {
  text-align: center;
  color: #e48b8b;
  font-size: 24px;
  margin-bottom: 22px;
}

.menu-section {
  border: 4px solid #f4c891;
  padding: 18px 22px;
}

.menu-item {
  margin-bottom: 20px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-header h3 {
  color: #d87874;
  font-size: 19px;
  margin: 0;
}

.price {
  color: #d87874;
  font-weight: bold;
  font-size: 18px;
}

.menu-item p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.3;
}

.sides-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #f4c891;
  margin-top: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  gap: 2rem;
}

.sides-left,
.sides-right {
  width: calc(50% - 1rem);
  padding: 0 0.5rem;
}

.sides-left {
  border-right: 4px solid #f4c891;
}

.sides-left h3 {
  color: #d87874;
  margin: 0;
  font-size: 17px;
}

.sides-left p {
  margin: 3px 0 0;
  font-size: 14px;
  color: #333;
}

.sides-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #d87874;
}

.sides-right li {
  margin: 3px 0;
}

footer {
  background-color: #9b8b58;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 14px;
  line-height: 1.4;
}

footer strong {
  font-weight: bold;
}
