@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #c8ccbe;
  color: #28463d;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Container */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  width: 90vw;
}

.text-container.right-align {
  align-items: flex-end;
}

/* Text */
.line {
  font-size: 5rem;
  line-height: 1.1;
  white-space: nowrap;
  opacity: 0;
}

/* Buttons */
.button-container {
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.button-container.two-buttons {
  display: flex;
  gap: 2rem;
}

.next-button {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  transition: all 0.3s ease;
  color: #7c9478;
}

.next-button:hover {
  opacity: 0.7;
}
